In [1]:
import backtest_config
import pandas as pd
breeze = backtest_config.autologin()

{'Success': {'bank_account': '50100245203415', 'total_bank_balance': 21.93, 'allocated_equity': 21.93, 'allocated_fno': 0.0, 'block_by_trade_equity': 0.0, 'block_by_trade_fno': 0.0, 'block_by_trade_balance': 0.0, 'unallocated_balance': '0'}, 'Status': 200, 'Error': None}

In [2]:
from_date = "1990-04-19 12:34:56"
to_date = "2050-09-06 12:34:56"
time_interval = "1day"
product_type="cash"
stock_code="NIFTY"
exchange_code = "NSE"
print()
print("STOCK DATA in getHistoricalData: ")
print(f"From Date: {from_date}")
print(f"To Date: {to_date}")
print(f"Time Interval: {time_interval}")
print(f"Product Type: {product_type}")
print(f"Stock Code: {stock_code}")
print(f"Exchange Code: {exchange_code}")
print()
data = backtest_config.get_historical_data_for_stock_fut_index(breeze, from_date, to_date, time_interval, stock_code, exchange_code , product_type)
df = pd.DataFrame(data)
df

STOCK DATA in getHistoricalData:
From Date: 1990-04-19 12:34:56
To Date: 2050-09-06 12:34:56
Time Interval: 1day
Product Type: cash
Stock Code: NIFTY
Exchange Code: NSE

here
to_date_new: 2019-09-12 00:00:00
here
to_date_new: 2015-08-24 00:00:00
here
to_date_new: 2011-08-11 00:00:00
here
to_date_new: 2007-06-07 00:00:00
here
to_date_new: 2003-05-14 00:00:00

,close,datetime,exchange_code,high,low,open,stock_code,volume
0,1688.50,2000-03-06 00:00:00,NSE,1721.00,1656.00,1656.00,NIFTY,0
1,1702.75,2000-03-07 00:00:00,NSE,1730.85,1684.90,1711.85,NIFTY,0
2,1666.35,2000-03-08 00:00:00,NSE,1765.25,1654.45,1717.75,NIFTY,0
3,1646.25,2000-03-09 00:00:00,NSE,1692.25,1595.45,1667.45,NIFTY,0
4,1602.75,2000-03-10 00:00:00,NSE,1680.45,1588.20,1647.85,NIFTY,0
...,...,...,...,...,...,...,...,...
5784,19985.65,2023-09-12 00:00:00,NSE,20110.15,19914.80,20110.15,NIFTY,0
5785,20063.35,2023-09-13 00:00:00,NSE,20096.05,19945.50,19989.50,NIFTY,0
5786,20101.85,2023-09-14 00:00:00,NSE,20167.00,20044.70,20127.95,NIFTY,0
5787,20169.00,2023-09-15 00:00:00,NSE,20221.25,20130.00,20156.45,NIFTY,0
5788,20123.65,2023-09-18 00:00:00,NSE,20194.35,20117.80,20155.95,NIFTY,0

In [ ]:
from_date = "1990-04-19 12:34:56"
to_date = "2050-09-06 12:34:56"
time_interval = "1day"
product_type_options="options"
stock_code_options="NIFTY"
exchange_code_options = "NFO"

time_interval
strike_df = backtest_config.get_complete_historical_data_for_option(breeze, strike, "call", expiry_date_options, time_interval,
                                       stock_code=stock_code_options, exchange_code=exchange_code_options, product_type=product_type_options)

In [ ]:
import datetime as dt
def get_expiry_date_for_candle(expiry_name, expiry_type, day, month, year):
    """

    :param expiry_name: "nifty" , "banknifty" , "finnifty", "midcap", "sensex"
    :param expiry_type: "monthly" or "weekly"
    :param day: 1-31
    :param month: 1-12
    :param year: 2021
    :return: Returns the expiry date for the given day, month and year
    """
    if expiry_type == "monthly":
        expiry_date = dt.datetime(year, month, 1) + dt.timedelta(days=32) - dt.timedelta(days=32)
        days_until_month_end_thursday = (3 - expiry_date.weekday()) % 7
        month_end_thursday = expiry_date - dt.timedelta(days=days_until_month_end_thursday)
        return month_end_thursday
    elif expiry_type == "weekly":
        expiry_date = datetime(year, month, day)
        days_until_next_thursday = (3 - expiry_date.weekday()) % 7
        next_thursday = expiry_date + dt.timedelta(days=days_until_next_thursday)
        return next_thursday
    else:
        print("Invalid expiry_name passed to get_expiry_date_for_candle")
        return None

get_expiry_date_for_candle("nifty", "monthly",14, 10, 2023)

In [ ]:
from datetime import datetime, timedelta

def get_expiry_date_for_candle(expiry_name, expiry_type, month, year):
    # Define a dictionary to map expiry names to their respective weekday
    expiry_day_mapping = {
        "nifty": 3,     # Thursday
        "sensex": 4,    # Friday
        "banknifty": 2, # Wednesday
        "Midcap": 0,    # Monday
        "finnifty": 1   # Tuesday
    }
    
    # Determine the day of the week for the specified expiry_name
    if expiry_name in expiry_day_mapping:
        expiry_day = expiry_day_mapping[expiry_name]
    else:
        raise ValueError("Invalid expiry_name")
    
    if expiry_type == "weekly":
        # Create a datetime object for the first day of the specified month and year
        first_day_of_month = datetime(year, month, 1)
        
        # Calculate the number of days to add for weekly expiry
        days_to_add = (expiry_day - first_day_of_month.weekday() + 7) % 7
        
        # Calculate the expiry date by adding the days_to_add to the first day of the month
        expiry_date = first_day_of_month + timedelta(days=days_to_add)
    elif expiry_type == "monthly":
        # Calculate the last day of the month for the specified month and year
        last_day_of_month = datetime(year, month, 1) + timedelta(days=31)
        while last_day_of_month.month != month:
            last_day_of_month -= timedelta(days=1)
        
        # Find the last weekday (Monday to Friday) of the month
        while last_day_of_month.weekday() != expiry_day:
            last_day_of_month -= timedelta(days=1)
        
        expiry_date = last_day_of_month
    else:
        raise ValueError("Invalid expiry_type")
    
    return expiry_date

# Example usage:
expiry_name = "nifty"
expiry_type = "weekly"
month = 8
year = 2023

expiry_date = get_expiry_date_for_candle(expiry_name, expiry_type, month, year)
print(f"The {expiry_name} option expires on {expiry_date.strftime('%A, %d %B %Y')}")

expiry_type = "monthly"

expiry_date = get_expiry_date_for_candle(expiry_name, expiry_type, month, year)
print(f"The {expiry_name} option expires on {expiry_date.strftime('%A, %d %B %Y')}")

In [ ]:
import datetime as dt


def get_expiry_date_for_candle(expiry_name, expiry_type, day, month, year):
    # Define a dictionary to map expiry names to their respective weekday
    expiry_day_mapping = {
        "nifty": 3,     # Thursday
        "sensex": 4,    # Friday
        "banknifty": 2, # Wednesday
        "midcap": 0,    # Monday
        "finnifty": 1   # Tuesday
    }
    
    # Determine the day of the week for the specified expiry_name
    if expiry_name in expiry_day_mapping:
        expiry_day = expiry_day_mapping[expiry_name]
    else:
        raise ValueError("Invalid expiry_name")
    
    # Create a datetime object for the specified day, month, and year
    specified_date = dt.datetime(year, month, day)
    
    if expiry_type == "weekly":
        # Calculate the number of days to add for weekly expiry
        days_until_expiry = (expiry_day - specified_date.weekday() + 7) % 7
        
        # Calculate the expiry date by adding the days_until_expiry to the specified date
        expiry_date = specified_date + dt.timedelta(days=days_until_expiry)
    elif expiry_type == "monthly":
        # Calculate the last day of the month for the specified month and year
        last_day_of_month = dt.datetime(year, month, 1) + dt.timedelta(days=31)
        while last_day_of_month.month != month:
            last_day_of_month -= dt.timedelta(days=1)
        
        # Find the last weekday (Monday to Friday) of the month
        while last_day_of_month.weekday() != expiry_day:
            last_day_of_month -= dt.timedelta(days=1)
        
        expiry_date = last_day_of_month
    else:
        raise ValueError("Invalid expiry_type")
    
#     # Determine whether the upcoming expiry is weekly or monthly
#     today = dt.datetime.now()
#     if expiry_date >= today:
#         upcoming_expiry_type = "weekly" if expiry_type == "weekly" else "monthly"
#     else:
#         upcoming_expiry_type = "monthly"
    
#     # Print whether the upcoming expiry is weekly or monthly
#     print(f"The upcoming {expiry_name} option expiry on {expiry_date.strftime('%A, %d %B %Y')} is {upcoming_expiry_type}.")
    
    return expiry_date


# Example usage:
expiry_name = "nifty"
expiry_type = "weekly"
day = 8
month = 10
year = 2022

expiry_date = get_expiry_date_for_candle(expiry_name, expiry_type, day, month, year)
print(f"The upcoming {expiry_name} option expiry on {expiry_date.strftime('%A, %d %B %Y')} is {expiry_type}.")

expiry_type = "monthly"

expiry_date = get_expiry_date_for_candle(expiry_name, expiry_type, day, month, year)
print(f"The upcoming {expiry_name} option expiry on {expiry_date.strftime('%A, %d %B %Y')} is {expiry_type}.")

# Example usage:
expiry_name = "banknifty"
expiry_type = "weekly"
day = 19
month = 9
year = 2022

expiry_date = get_expiry_date_for_candle(expiry_name, expiry_type, day, month, year)
print(f"The upcoming {expiry_name} option expiry on {expiry_date.strftime('%A, %d %B %Y')} is {expiry_type}.")

expiry_type = "monthly"

expiry_date = get_expiry_date_for_candle(expiry_name, expiry_type, day, month, year)
print(f"The upcoming {expiry_name} option expiry on {expiry_date.strftime('%A, %d %B %Y')} is {expiry_type}.")

In [ ]:
import pandas as pd

# Sample DataFrame with mixed date formats
data = {'date': ['25-Dec-23', 'January 26, 2022', '10-Jan-24']}
data= pd.read_excel("holiday_list.xlsx")
# df = pd.DataFrame(data)
data
# # Convert date column to datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Create a new column with a consistent date format (e.g., YYYY-MM-DD)
df['formatted_date'] = df['Date'].dt.strftime('%Y-%m-%d')

# Print the updated DataFrame
df

In [ ]:
import pandas as pd
pd.DataFrame(data).head(2)

In [ ]:
# Convert the 'datetime' column to a pandas datetime object
df['datetime'] = pd.to_datetime(df['datetime'])

# Extract the month and day into separate columns
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df['year'] = df['datetime'].dt.year

# Display the updated DataFrame
df

In [ ]:
# Get unique years from the 'year' column
unique_years = df['year'].unique()

# Iterate over each year
for year in unique_years:
    # Get unique months for the current year
    unique_months = df[df['year'] == year]['month'].unique()
    
    # Iterate over each month in the current year
    for month in unique_months:
        # Get unique days for the current month in the current year
        unique_days = df[(df['year'] == year) & (df['month'] == month)]['day'].unique()
        
        # Iterate over each day in the current month in the current year
        for day in unique_days:
            # Filter the DataFrame to get data for the current year, month, and day
            filtered_data = df[(df['year'] == year) & (df['month'] == month) & (df['day'] == day)]
            
            # Print the data for the current year, month, and day
            print(f"Year: {year}, Month: {month}, Day: {day}")
            print(filtered_data)

In [ ]:
# Iterate over each candle and print OHLC
for index, row in filtered_data.iterrows():
    print(f"Year: {year}, Month: {month}, Day: {day}")
    print(f"Open: {row['open']}, High: {row['high']}, Low: {row['low']}, Close: {row['close']}")

In [ ]:
type(row)